<!doctype html>
<html>
<head>

  <link href='http://fonts.googleapis.com/css?family=Neuton'
        rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="http://faviconist.com/icons/b0dbefb1435ce7f26841d580cc4fb4d6/favicon.ico" />
  <link rel="apple-itouch-icon" href="images/h114.png" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="stylesheet/less" href="index.less?1" type="text/css" />
  <script src="lib/date.js"></script>
  <script src="lib/badge.js"></script>
  <script src="lib/less-1.0.40.js"></script>
</head>

<body>

  <div id="container">

    <div id="header">
      <div class="wrapper">
        <h1><a href='.'>Hacker News Reader</a></h1>
        <div id="about">
          <span>
            A serverless app on
              <a href="http://news.ycombinator.com">Hacker News</a>,
              <a href="http://jashkenas.github.com/coffee-script/">CoffeeScript</a>,
              <a href="https://github.com/cloudhead/less.js/">Less</a>,
              <a href="http://jquery.com">jQuery</a>,
              <a href="http://faviconist.com">Faviconist</a>.<br/>
          </span>
        </div>
      </div>
    </div>

    <div id="main">

      <div id="settings">
        <h2 class="toggle">
          <span>settings</span>
          <div class='nav'>
            <span class='reload page'>front</span>
            <span class='reload new'>new</span>
            <span class='reload ask'>ask</span>
          </div>
        </h2>
        <form id="instapaper">
          <input placeholder="joe@example.com" name="username" />
          <input placeholder="password" name="password" type="password" />
          <button id="instapaperLogin">Login to Instapaper</button>
          save locally? <input class='saveSettings' type="checkbox"></input>
          <span class="loginStatus">
            <div class="notAttempted">&nbsp;</div>
            <div class="pending">  
              logging in ...
            </div>
            <div class="error">  
              There seems to be a login problem.
              Please check your username and password.
            </div>
            <div class="success">  
              And you're in!
            </div>
          </span>
        </form>
      </div>

      <table id="stories">
        <tr><td>Loading from <a href="http://news.ycombinator.com">Hacker News</a></tr>
      </table>

      &nbsp; <!-- footer margin -->

    </div>

    <div id="footer">
      By
      <a href="http://mahemoff.com">Mahemoff</a>
      with help from
      <a href="http://paul.kinlan.com">Paul</a>,
      <a href="https://twitter.com/rcknr">Sergii</a>.
    </div>

  </div>


  <iframe id="content" name="content"></iframe>

  <div id="contentPanel">

    <div class="close">X</div>
    <div class="navControls">
      <div id="simplifiedWrapper"><input id="simplified" type="checkbox" /> simple view</div>
      <div>
        <a class="commentsLink commentsOn" target="_blank" data-href="commentsURL"><span data-property="num_comments"></span> comments &raquo;</a>
        <a class="commentsLink commentsOff" target="_blank" data-href="commentsURL">&laquo; <span data-property="num_comments"></span> comments</a>
      </div>
    </div>

    <div class="storyMain">

      <a class="title" data-property="title" data-href="url" target="_blank"></a>

      <div class="postAuxiliary">
        <span data-property="points"></span> points. <span data-property="postedAgo" class="postedAgo"></span> by <a target="_blank" class="postedBy" data-property="username" data-href="posterURL"></a>.
        <span>read later</span>
        <span id="tweet" class="toggle"><span>tweet</span></span>
        <div id="twitter">
          <div id="shortenURLs" class="pseudolink">shorten URLs</div>
          <div id="tweetBox"></div>
        </div>
      </div>

    </div>

  </div>

  <iframe id="comments" name="comments"></iframe>

  <!-- POST-PAGE SCRIPTS -->

  <script src="lib/jquery.min.js"></script>
  <script src="lib/jquery.deserialize.js"></script>
  <script src="lib/underscore.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAA-Yc3YkbYn3cWVyvp2ZEppxQOP8Twd9aiAyStBk9b_9fnX7V4FhTVon-wNo-xuKTOnq0I5POQwhl4pg
  "></script>
  <script src="feeds.js"></script>
  <script src="index.coffee" type="text/coffeescript"></script>
  <script src="lib/coffee-script.js"></script>
  <script src="http://platform.twitter.com/anywhere.js?id=HQdhAp7xaImuZvaV1WaCtg&v=1" type="text/javascript"></script>

  <script id="storyTemplate" type="template">
        <td class="url">
        <a <%= prerender ? 'rel="prerender"' : '' %> class='title' target="_blank" href="<%= url %>"><%= title %></a>
        <span class="postAuxiliary"><span class="postedAgo"><%= postedAgo %> by <a target="_blank" class="postedBy" href="<%= posterURL %>"><%= username %></a></span> <span class='points'><%= points %> points</span>
        </td>

        <td class="commentsLink">
          <a target="_blank" href="<%= commentsURL %>"><span><%= num_comments %> comments</span></a>
        </td>

        <td class="readLaterStatus">
          <span class="fresh">read later</span>
          <span class="pending">saving ...</span>
          <span class="success">saved</span>
        </td>
  </script>

  <script id="contentPanelTemplate" type="template">
  </script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25447992-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>
