/*****************************************************************************
   MACROS
*****************************************************************************/
.linearGradient(@color1:#ccc, @color2:#ddd) {
  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, @color1), color-stop(100%, @color2));
  background-image:-moz-linear-gradient(center bottom, @color1 0, @color2 100%);
  background-image:-o-linear-gradient(center bottom, @color1 0, @color2 100%);
  background-image:linear-gradient(center bottom, @color1 0, @color2 100%);
  background-color: @color1;
}

/*****************************************************************************
   CONSTANTS
*****************************************************************************/

@leftIndent: 1em;
@commentsLinkPadding: 0.3;

/*****************************************************************************
   GENERAL
*****************************************************************************/

* { margin: 0; padding: 0; }
a,a:visited { color: #00b; text-decoration: none; }

/*****************************************************************************
   PAGE STRUCTURE
*****************************************************************************/

body { font-size:100%; }
#header { line-height: 1.3em; }
#header { background: #f90; margin: 0 0 1em; padding: 1em 10% 0.5em; }
#header .wrapper { margin-left: @leftIndent; }
h1 { font-family: "Josefin Sans", ariel, helvetica, sans-serif; font-weight: normal; }
#about { font-size: 0.75em; }
#main { text-align: center; }

/*****************************************************************************
   STORIES
*****************************************************************************/

#stories {
  list-style-type: none;
  margin: 0 auto 1em;
  text-align: left;

  a, a:visited { color: black; }
  float: left;
}

.story { 
  padding: 0.5em 9em 0.5em @leftIndent;
  border: 1px solid black;
  border-bottom-width: 0;
  background: #fff6f6;
  cursor: pointer;
  position: relative;
  &:hover { 
    .linearGradient(#fc0, #fa0);
  }
  -webkit-transition: all 0.2s ease-in-out;
  &:last-child { border-bottom-width: 1px; }  
}

.story.selected {
  background-color: red;
}



#content {
  left: 100%;
  width: 80%;
  top: 0;
  position: fixed;
  height: 100%;
  -webkit-transition: left,opacity 0.3s,0.3s ease-in-out,ease-in-out;
  background-color: white;
  border: none;
  opacity: 0;
  margin: 10px 0 -10px 0;
  padding: 50px 0 0 0;
}

#content[src^=http] {
  left: 20%;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 20px #000;
}

#content_container {
  left: 100%;
  width: 80%;
  top: 10px;
  height: 50px;
  position: fixed;
  -webkit-transition: left,opacity 0.3s,0.3s ease-in-out,ease-in-out;
  background-color: white;
  border: none;
  opacity: 0;
  text-align: left;
}

#content[src^=http] + #content_container {
  left: 20%;
  opacity: 1;
}

#content.mid {
  left: 60%;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 20px #000;
}

#content.mid + #content_container {
  left: 60%;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 20px #000;
}

#comments {
  left: 100%;
  width: 50%;
  top: 65px;
  position: fixed;
  height: 100%;
  -webkit-transition: left,opacity 0.3s,0.3s ease-in-out,ease-in-out;
  background-color: white;
  border: none;
  opacity: 0;
}

#comments[src^=http] {
  left: 50%;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 20px #000;
}

#comments.mid {
  left: 70%;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 20px #000;
}

#stories a.url, #stories a.url:visited { color: #00b; }

.postedAgo { font-size: 0.75em; white-space: pre; }

.commentsLink,.commentsLink:visited {
  position: absolute; top: 50%; right: 1em; height: 1em;
  margin-top: -0.5em-@commentsLinkPadding;
  width: 7em; white-space: pre;
  color: #666;

  span {
    float: right;
    padding: 0em + @commentsLinkPadding;
    border-radius: 0.3em;
  }

}

.postedBy:hover, .commentsLink:hover span { .linearGradient(#fa0, #f80); }
