<!doctype html>
<html>
<head>

  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans'
        rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/h.jpg" />
  <link rel="apple-itouch-icon" href="images/h114.jpg" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="stylesheet/less" href="index.less" type="text/css" />
  <script src="lib/less-1.0.40.js"></script>

</head>

<body>

  <div id="header">
    <div class="wrapper">
      <h1>Hacker News Reader</h1>
      <div id="about">
        <span>
          Serverless app on
            <a href="http://jashkenas.github.com/coffee-script/">CoffeeScript</a>,
            <a href="https://github.com/cloudhead/less.js/">Less</a>,
            <a href="http://jquery.com">jQuery</a>,
            <a href="http://api.ihackernews.com/">iHackerNews API</a>,
            <a href="http://news.ycombinator.com">HN</a>,
            <a href="http://mahemoff.com">Me</a>
        </span>
      </div>
    </div>
  </div>

  <div id="main">

    <div id="settings">
      <h2 class="toggle"><span>settings</span></h2>
      <form id="instapaper">
        <input placeholder="joe@example.com" name="username" />
        <input placeholder="password" name="password" type="password" />
        <button id="instapaperLogin">Login to Instapaper</button>
        <span class="loginStatus">
          <div class="pending">  
            logging in ...
          </div>
          <div class="error">  
            There seems to be a login problem.
            Please check your username and password.
          </div>
          <div class="success">  
            And you're in!
          </div>
        </span>
      </form>
    </div>

    <div id="twitter">
      <div id="tweetBox"></div>
    </div>

    <table id="stories"></table>

  </div>

  <!-- POST-PAGE SCRIPTS -->

  <script src="lib/jquery.min.js"></script>
  <script src="lib/underscore.js"></script>
  <script type="text/coffeescript" src="index.coffee"></script>
  <script src="lib/coffee-script.js"></script>
  <script src="http://platform.twitter.com/anywhere.js?id=HQdhAp7xaImuZvaV1WaCtg&v=1" type="text/javascript"></script>

  <!-- TEMPLATES -->

  <script id="storiesTemplate" type="template">
    <% _.each(items, function(s) { %>

      <tr class="story">

        <td class="url">
          <a target="_blank" href="<%= s.url %>" style="font-size:<%= Math.log(Math.log(Math.max(s.points,10))) %>em;" ><%= s.title %></a>
          <span class="postAuxiliary"><span class="postedAgo"><%= s.postedAgo %> by <a target="_blank" class="postedBy" href="http://news.ycombinator.com/user?id=<%= s.postedBy %>"><%= s.postedBy %></a></span>
        </td>

        <td class="commentsLink">
          <a target="_blank" href="http://news.ycombinator.com/item?id=<%= s.id %>"><span><%= s.commentCount %> comments</span></a>
        </td>

        <td class="readLaterStatus">
          <span class="fresh">read later</span>
          <span class="pending">saving ...</span>
          <span class="success">saved</span>
        </td>

      </tr>

    <% }); %>
  </script>

</body>
</html>
