/*****************************************************************************
   MACROS
*****************************************************************************/
.linearGradient(@color1:#ccc, @color2:#ddd) {
  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, @color1), color-stop(100%, @color2));
  background-image:-moz-linear-gradient(center bottom, @color1 0, @color2 100%);
  background-image:-o-linear-gradient(center bottom, @color1 0, @color2 100%);
  background-image:linear-gradient(center bottom, @color1 0, @color2 100%);
  background-color: @color1;
}

/*****************************************************************************
   CONSTANTS
*****************************************************************************/

@storyBackground: #fff6f6;
@mainIndent: 10%;
@storyIndent: 1em;
@commentsLinkPadding: 0.3;

/*****************************************************************************
   GENERAL
*****************************************************************************/

* { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 1em; }
a,a:visited { color: #00b; text-decoration: none; }

/*****************************************************************************
   PAGE STRUCTURE
*****************************************************************************/

body { font-size:100%; }
#header { line-height: 1.3em; }
#header { background: #f90; margin: 0 0 1em; padding: 1em @mainIndent 0.5em; }
#header .wrapper { margin-left: @storyIndent; }
h1 { font-family: "Josefin Sans", ariel, helvetica, sans-serif; font-size: 2em; }
#about { font-size: 0.75em; }
#main { text-align: center; }
#main > * {
  text-align: left; width: 100%-2*@mainIndent; margin: 0 10% 1em;
}

/*****************************************************************************
   SETTINGS
*****************************************************************************/

#settings { padding-left: @storyIndent; }
#settings input { width: 10em; }
#settings button { padding: 0 1em; }

/*****************************************************************************
   STORIES
*****************************************************************************/

#stories {
  list-style-type: none;
  text-align: left;

  a, a:visited { color: black; }
  background: @storyBackground
}

.story { 
  padding: 0.5em 14em 0.5em @storyIndent;
  border: 1px solid black;
  border-bottom-width: 0;
  cursor: pointer;
  position: relative;

  &:hover { .linearGradient(#fc0, #fa0); }

  &:last-child { border-bottom-width: 1px; }

}

#stories a.url, #stories a.url:visited { color: #00b; }

.postedAgo { font-size: 0.75em; white-space: pre; }

.readLaterStatus { width: 5em; overflow: hidden;
   position: absolute; top: 50%; right: 6em; height: 100%;
   margin-top: -0.5em;
}

.readLaterStatus span { float: left; }
.readLaterStatus .success { background: #bbb; }

.commentsLink,.commentsLink:visited {
  position: absolute; top: 50%; right: 1em; height: 100%;
  margin-top: -0.5em;
  width: 7em; white-space: pre;
  color: #666;

  span {
    float: right;
    padding: 0em + @commentsLinkPadding;
    border-radius: 0.3em;
  }

}

.url:hover, .postedBy:hover, .readLaterStatus:hover span, .commentsLink:hover span { text-decoration: underline; }

.error   { color: red; display: none; }
.success { color: green; display: none; }
.pending { display: none; }
.toggle span { color: #00b; text-decoration: underline; cursor: pointer; }
.toggle + form { display: none; }
